
.event {
	position:relative;	
	cursor:pointer;
	margin-bottom:70px;
	outline: none;
}

.picture img:hover{
	padding: 20px;
}
.picture:hover{
	margin: 10px;
	margin-bottom: 25px;
}
.picture{
	height:30vw;
	width: 35vw;
	position:relative;
	background-color: goldenrod;
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center bottom;
	margin:0;
	/*-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;*/
	-moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
	
}

.picture img {
	position:relative;
	width:inherit;
	height: inherit;
	z-index:0;
	-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	cursor:pointer;
}


h2 {
	position:relative;
	z-index:2;
	font-family:"Effra W01 Heavy", Arial, sans-serif;
	font-size:50px;
	font-weight:bolder;
	color:white;
	text-transform:uppercase;
	line-height:48px;
	letter-spacing:1px;	
    margin:0px 0 25px 30px;
	/*margin-top:-75.8px;*/
	margin-top: 2px;
	-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
/*
.event:hover h2 {
	margin:-28px 0 25px 30px;
}
*/

.info {
	z-index: 2;
	margin-left:30px;
	padding-left:0px;
	font-family:"Effra W01 Regular", Arial, sans-serif;
	font-size:18px;	
	letter-spacing:2px;
	line-height:21px;
	color:white;
	text-transform:uppercase;
}

@media only screen and (max-width:1280px){
	.picture{
		box-shadow: -20px -20px skyblue;
	}
	h2{
		font-size:auto;
	}
}

@media only screen and (max-width:1280px){
	h2{
		font-size:25px;
		font-weight: bolder;
		letter-spacing: 0px;
	}
	.info{
		font-size: 14px;
	}
}


@media only screen and (max-width:450px){
	.picture{
		box-shadow: -10px -10px skyblue;
		margin: 0 15vw;
		width: 70vw;
		height: auto;
	}
	.picture:hover{
		box-shadow: -10px -10px skyblue;
		margin: auto;
	}
	h2{
		font-size: 25px;
		margin: 0 20vw;
	}

	.info{
		font-size: 14px;
		margin-left: 20vw;
	}
	
}

