.event {
	position:relative;	
    width:100%;
    background-color: black;
	cursor:pointer;
	margin-bottom:70px;
}

.picture{
    position:relative;
	width:100%;
	height:auto;
	background-repeat: repeat-x;
	background-size: 100% 20px;
	background-position: center bottom;
	margin:0;
	-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	

}

.picture img {
	position:relative;
    width:100%;
	height:auto;
	z-index:0;
	-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	cursor:pointer;
}


h2 {
	position:relative;
	z-index:2;
	font-family:"Effra W01 Heavy", Arial, sans-serif;
	font-size:45px;
	font-weight:normal;
	color:white;
	text-transform:uppercase;
	line-height:48px;
	letter-spacing:4px;	
    margin:0px 0 25px 30px;
    margin-top:-75.8px;
	-moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.event:hover h2 {
	margin:-28px 0 25px 30px;
}

.info {
	margin-left:30px;
	padding-left:0px;
	font-family:"Effra W01 Regular", Arial, sans-serif;
	font-size:18px;	
	letter-spacing:2px;
	line-height:21px;
	color:white;
	text-transform:uppercase;
}

