@import url('https://fonts.googleapis.com/css?family=Raleway');


.card{
        position: relative;
        height:50vh;
        width: 25vw;
        background-color: goldenrod;
        border-radius: 10px;
        z-index: 0;
        
}

.card img{
        position: relative;
        height:50vh;
        width: 25vw;
        border-radius: 10px;
}

 /*.bottom-left {
        position: absolute;
        bottom:3vw;
        left: 2vw;
        z-index: 3;
        color: azure;
    }*/

    .card:hover{
       background: black;
       opacity:.9;
       }


    .card-info{
        position: absolute;
        left: 0;
        margin: 0 auto;
        padding: 0 50px;
        bottom:3.5vh;
        color:white;
        font-style: 16px;
        line-height: 24px;
        z-index: 20;
        opacity:1;
        font-family: 'Raleway', sans-serif;
      }

      .card-info .descp{
              font-size: 1.5em;
              font-weight: bold;
      }
      .card-info .contact-info{
        font-size: 1em;
}

      .gradient-overlay{
        /* bg-gradient: */
        background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 85%);
        background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 85%);
        background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 85%);
        background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 85%);
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 15;
      }
