.container{

}

.value-container{
    width: 9vh;
    margin: 2.5px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    /* background: #32b69c; */
    /* background: #1f65b3; */
    /* background: orange; */
    background: lightgreen;
    color: white;
    vertical-align: middle;
    font-family: lato;
    box-shadow: 2px 3px rgba(0,0,0,0.3);
}

.value{
    font-size: 5vh;
    margin-top: 0px;
}

.metric{
    font-size: 3vh;
    padding-bottom: 8px;
}

@media (max-width:450px){
    .value-container{
        width: 8vh;
    }
    .value{
        font-size: 4vh;
    }
    .metric{
        font-size: 2vh;
    }
}
