body{
	overflow-x: hidden;
}
.white-bg {
	position: fixed;
	top: -10vh;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: ghostwhite;
}

h1{
	position: relative;
}
.container{
	margin: 7.5vh 7.5vw;
	position: absolute;
	display:grid;
	grid-template-columns: auto auto auto ;
	grid-gap: 5vw;
	z-index: 2;
}