.schedule-grid-item{
    width: 100%;
    padding-bottom: 120%;
    border-style: solid;
    border-width:0.1vh;
    border-color: #000000;
    background: #272727;
    transition-duration: 0.5s;
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255,0.8);
    overflow-y:scroll;
}

.schedule-grid-overlay{
    position: absolute;
    width: 100%;
/*    padding: 16px;*/
}

.schedule-title{
    font-size: 22px;
    font-family: 'Montserrat';
    display:block;
    text-align:center;
    padding:3vh;
    padding-top:4vh;
}

.schedule-time{
    font-size:17px;
    display:block;
    padding:2vh;
    padding-bottom:0px;
    border-right:solid;
    border-right-color:#312e2e;
}
.schedule-sub-title{
    font-size:20px;
    padding:2vh;
    color:#8367d8;
}

.schedule-sub-grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
hr{
    height: 1px;
    color: #312e2e;
    background-color: #312e2e;
    border: none;
}

.schedule-body{
    font-size:14px;
    text-align:center;
}
@media screen and (max-width: 600px) {

    .schedule-grid-overlay{
        padding: 10px;
    }

    .schedule-title{
        font-size: 14px;
    }
    
}