.container {
	height: 100vh;
	/*padding: 15px;
	padding-top: 40px;*/
	overflow: hidden;
    background: #272727;
}

/*.events-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 250px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
*/
.events-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
}

.events {
	background:whitesmoke;
	height: 47vh;
}

/*.events--expanded {
	opacity: 0;
	position: fixed;
	top: 15vh;
	left: 15vw;
	height: 80vh;
	width: 70vw;
	background-color: white;
}*/

.events--expanded {
	opacity: 0;
	position: fixed;
	top: 6vh;
	left: 0vw;
	height: 100vh;
	width: 100vw;
	background-color: white;
}

.event-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	background-image: url('../img/trianglebg.png');
}

.btn-close {
	position: absolute;
	left: 2vw;
	top: 2vh;
	color: whitesmoke;
	z-index: 1;
}

.contents {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

.hidden {
	display: none;
}

@media screen and (max-width: 600px){
	.events--expanded {
		top: 8.45vh;
		left: 0vw;
	}
	.events {
		background-color: whitesmoke;
		height: 31vh;
	}
	.events-grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 1px;
		grid-row: auto auto auto;
	}
}

@media screen and (max-width: 320px){
	.events--expanded {
		top: 11vh;
	}
}
