.container {
	height: 90%;
	padding: 15px;
	padding-top: 40px;
	overflow: hidden;
	background-color: grey;
}

.events-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 250px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.events {
	background-color: blueviolet;
}

.events--expanded {
	opacity: 0;
	position: fixed;
	top: 15vh;
	left: 15vw;
	height: 80vh;
	width: 70vw;
	background-color: white;
}

.btn-close {
	position: absolute;
	right: 2px;
	top: 2px;
	color: aqua;
	z-index: 1;
}

.contents {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

.hidden {
	display: none;
}
