.navbar-container{
	display: grid;
	width: 100vw;
	grid-template-columns: 50px auto 50px;
	padding-top: 5px;
}

.navbar-back-button,
.navbar-menu-button{
	color: #1ea780;
	padding: 0.3em;
	font-size: 2rem;
	cursor: pointer;
	vertical-align: middle;
	line-height: normal;
}

.navbar-back-button{
	text-align: left;
}

.navbar-menu-button{
	text-align: right;
}


.navbar-excel-logo img{
	height: 40px;
	margin: 0 auto;
	display: block;
	padding: 0.3em;
}