.container{
    position: absolute; /*position: fixed;*/
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 3;
    background-color: yellowgreen;
}
h2{
    color: white;
}