html,body{
  padding: 0;
  margin: 0;
  height:100%;
  width:100%;
  /*background-image: radial-gradient(circle, #04c04d, #00997c, #006d88, #00416c, #051937);*/
  background-color: #031426;
}

.pageContainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.content{
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: relative;
  /*position: relative;*/
  /*top: -26px;*/
  background-image: linear-gradient(to bottom, #45735429, #b9b9b900, #77777700, #3b3b3b00, #00000000);
}

#root{
  position: fixed;
  top:0;
  left: 0;
  overflow-y: auto;
}