html,body{
  padding: 0;
  margin: 0;
  height:auto;
  width:100%;
  /*background-image: radial-gradient(circle, #04c04d, #00997c, #006d88, #00416c, #051937);*/
  background-color: #031426;
}

.content{
  width: 100vw;
  position: relative;
  /*position: relative;*/
  /*top: -26px;*/
  /* background-image: linear-gradient(to bottom, #45735429, #b9b9b900, #77777700, #3b3b3b00, #00000000); */
  background: #031426;
}

#root{
}