.aurora-outer {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #32a6ff50 0%, #3f6fff3a 49%, #8d54ff4b 82%);
    background-size: 200%;
    animation: aurora 10s infinite;
}

.aurora-inner {
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
    background-size: 200%;
    animation: aurora 7s infinite;
}

@keyframes aurora {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

div {
    display: block;
    height: 180px;
    width: 180px;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    transform: translateY(-50%);
    font-size: 32px;
    text-align: center;
    color: white;
}