@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');
body{
	overflow-x: hidden;
}

h1{
	position: relative;
	color: black;
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
}

a:active, a:focus {
	outline: none;
  }

#grid{
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 5%;
}

.left {
	position:relative;
	width: 100%;
}

.right {
	margin-top: 120px;
	position:relative;
	width: 100%;
}

.white-bg {
	position: fixed;
	top: -10vh;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: ghostwhite;
}

.title{
	color:rgba(0,0,0,0.8);
	/* color: white; */
	margin-top: 75px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold 700;
	text-align: center;
	font-size: 40px;
}

@media only screen and (max-width:450px){

	.title{
		font-size: 25px;
	}

	#grid {
		grid-template-columns: 100%;
	}
	.right{
		margin:0px auto;
	}
	
}


@media only screen and (max-width:450px){
	.title{
		font-size: 25px;
	}
}

@media only screen and (max-width:330px){
	.title{
		font-size: 25px;
	}

}