@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');
body{
	overflow-x: hidden;
}

h1{
	position: relative;
	color: black;
	text-align: center;
	font-family: "Montserrat";
	font-size: 60px;
}
.title::first-letter{
	font-size: 150%;
}

a:active, a:focus {
	outline: none;
  }

#grid {
	position:absolute;
	/*width:78%;
	max-height:auto;	
    left:11%;
	z-index:1;
	top:200px;
	opacity:1;
	-moz-transition: max-height 0s 2.3s ease-out, top 1.5s cubic-bezier(0.260, 0.010, 0.000, 1.005), opacity 1.4s ease-out;
    -o-transition: max-height 0s 2.3s ease-out;
    -ms-transition: max-height 0s 2.3s ease-out;
	-webkit-transition: max-height 0s 2.3s ease-out;
    transition: max-height 0s 2.3s ease-out, top 1.5s cubic-bezier(0.260, 0.010, 0.000, 1.005), opacity 1.4s ease-out;
*/
}

.left {
	margin-left: 11vw;
	position:relative;
	float:left;	
}

.right {
	margin-top: 120px;
	margin-right: 11vw;
	position:relative;
	float:right;	
}

.white-bg {
	position: fixed;
	top: -10vh;
	z-index: 0;
	bottom: 0;
	width: 100%;
	background-color: ghostwhite;
}

.title{
	color:rgba(0,0,0,0.8);
	/* color: white; */
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold 700;
	text-align: center;
	font-size: 90px;
}

@media only screen and (max-width:1300px){
	.title{
		font-size: 70px;
	}

}
@media only screen and (max-width:450px){

	.title{
		font-size: 25px;
	}

	#grid {
		display: grid;
		grid-template-columns: auto;
	}
	.left{
		margin:auto;
		float: none;
	}
	.right{
		margin:auto;
		float: none;
	}
	
}


@media only screen and (max-width:450px){
	.title{
		font-size: 55px;
	}

}

@media only screen and (max-width:330px){
	.title{
		font-size: 50px;
	}

}