
h1{
    color:white;
}


#grid {
	position:absolute;
	/*width:78%;
	max-height:auto;	
    left:11%;
	z-index:1;
	top:200px;
	opacity:1;
	-moz-transition: max-height 0s 2.3s ease-out, top 1.5s cubic-bezier(0.260, 0.010, 0.000, 1.005), opacity 1.4s ease-out;
    -o-transition: max-height 0s 2.3s ease-out;
    -ms-transition: max-height 0s 2.3s ease-out;
	-webkit-transition: max-height 0s 2.3s ease-out;
    transition: max-height 0s 2.3s ease-out, top 1.5s cubic-bezier(0.260, 0.010, 0.000, 1.005), opacity 1.4s ease-out;
*/
}



.left {
	margin-left: 11vw;
	position:relative;
	float:left;	
}

.right {
	margin-top: 120px;
	margin-right: 11vw;
	position:relative;
	float:right;	
}

